<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godfather.selfieshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.godfather.selfieshare.AppMain"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUpActivity" >
        </activity>
        <activity android:name=".activities.HomeActivity" >
        </activity>

        <service
            android:name="com.godfather.selfieshare.utils.MusicService"
            android:enabled="true">
        </service>
        <activity
            android:name=".activities.NearByActivity"
            android:label="@string/title_activity_near_by" >
        </activity>
        <activity
            android:name=".activities.RequestedActivity"
            android:label="@string/title_activity_requested" >
        </activity>
        <activity
            android:name=".activities.ReceivedActivity"
            android:label="@string/title_activity_received" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.RequestDetailActivity"
            android:label="@string/title_activity_request_detail" >
        </activity>
    </application>

</manifest>