<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godfather.selfieshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.godfather.selfieshare.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.godfather.selfieshare.SignUpActivity" >
        </activity>
        <activity android:name="com.godfather.selfieshare.HomeActivity" >
        </activity>

        <service
            android:name="com.godfather.selfieshare.utils.MusicService"
            android:enabled="true" >
        </service>
        <activity
            android:name="com.godfather.selfieshare.NearByActivity"
            android:label="@string/title_activity_near_by" >
        </activity>
        <activity
            android:name="com.godfather.selfieshare.RequestedActivity"
            android:label="@string/title_activity_requested" >
        </activity>
        <activity
            android:name="com.godfather.selfieshare.ReceivedActivity"
            android:label="@string/title_activity_received" >
        </activity>
        <activity
            android:name="com.godfather.selfieshare.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.godfather.selfieshare.RequestDetailActivity"
            android:label="@string/title_activity_request_detail" >
        </activity>
    </application>

</manifest>